.nav-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #1C1B1B;
}

.heador_icon {
  display: flex;
  align-items: center;
}
.heador_icon li {
  list-style: none;
}
.heador_icon li:first-of-type {
  margin-right: 15px;
  position: relative;
  top: -3px;
}
.heador_icon li:last-of-type {
  margin-left: 7px;
}

.container {
  max-width: 1064px;
}

.navbar-brand {
  position: absolute;
  left: 50%;
  margin-left: -40px;
  top: 7px;
}

header {
  padding-top: 15px;
}

.main-banner {
  background: #F0EFEB;
  padding: 90px 0 0;
}
.main-banner h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  margin-bottom: 42px;
}
.main-banner p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 26px;
}
.main-banner a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #FFFFFF;
  background: #000000;
  border: 1px solid #000000;
  border-radius: 100px;
  padding: 7px 23px 9px 23px;
}
.main-banner img {
  position: relative;
  top: -90px;
}
@media screen and (max-width: 768px) {
  .main-banner img {
    width: 100%;
  }
}

.guides {
  padding: 60px 0 88px;
}
.guides h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  margin-bottom: 27px;
}
.guides p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #000000;
  max-width: 632px;
  margin: auto;
}

.sellers {
  padding-bottom: 248px;
}
@media screen and (max-width: 767px) {
  .sellers {
    justify-content: center;
    padding-bottom: 100px;
  }
}
.sellers h2 {
  margin-bottom: 52px;
}
.sellers .card {
  max-width: 309px;
  display: inline-block;
  border: none;
}
.sellers .card .card-body {
  padding: 0;
}
.sellers .card h5 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  margin: 20px 0 17px;
}
.sellers .card p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  margin-bottom: 10px;
}
.sellers .card a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  text-decoration-line: underline;
  color: #000000;
  background: none;
  border: none;
  padding: 0;
}
@media screen and (max-width: 834px) {
  .sellers .card a {
    margin-bottom: 30px;
  }
}

.Society {
  background: rgba(204, 204, 204, 0.3);
  border-radius: 0;
  padding: 76px 0 51px;
}
@media screen and (max-width: 767px) {
  .Society {
    padding: 76px 30px 51px;
  }
}
@media screen and (max-width: 834px) {
  .Society img {
    width: 100%;
    margin-bottom: 20px;
  }
}
.Society h3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
}
@media screen and (max-width: 834px) {
  .Society h3 {
    text-align: center;
    font-size: 30px;
    line-height: 36px;
  }
}
.Society p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  margin: 31px 0 40px;
}
@media screen and (max-width: 834px) {
  .Society p {
    text-align: center;
    font-size: 30px;
    line-height: 36px;
  }
}
.Society a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #000000;
}
@media screen and (max-width: 834px) {
  .Society a {
    text-align: center;
    display: block;
  }
}

.Heritage {
  background: rgba(204, 204, 204, 0.6);
  border-radius: 0;
  padding: 76px 0 51px;
}
@media screen and (max-width: 767px) {
  .Heritage {
    padding: 76px 30px 51px;
  }
}
@media screen and (max-width: 834px) {
  .Heritage img {
    width: 100%;
    margin-bottom: 20px;
  }
}
.Heritage h3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  text-align: right;
}
@media screen and (max-width: 834px) {
  .Heritage h3 {
    text-align: center;
    font-size: 30px;
    line-height: 36px;
  }
}
.Heritage p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: right;
  color: #000000;
  margin: 31px 0 40px;
}
@media screen and (max-width: 834px) {
  .Heritage p {
    text-align: center;
    font-size: 30px;
    line-height: 36px;
  }
}
.Heritage a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-align: right;
  text-decoration-line: underline;
  color: #000000;
  display: block;
}
@media screen and (max-width: 834px) {
  .Heritage a {
    text-align: center;
    margin-bottom: 20px;
  }
}

.Politics {
  background: rgba(204, 204, 204, 0.3);
  border-radius: 0;
  padding: 76px 0 51px;
}
@media screen and (max-width: 767px) {
  .Politics {
    padding: 76px 30px 51px;
  }
}
@media screen and (max-width: 834px) {
  .Politics img {
    width: 100%;
    margin-bottom: 20px;
  }
}
.Politics h3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  text-align: left;
}
@media screen and (max-width: 834px) {
  .Politics h3 {
    text-align: center;
    font-size: 30px;
    line-height: 36px;
  }
}
.Politics p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  margin: 31px 0 40px;
}
@media screen and (max-width: 834px) {
  .Politics p {
    text-align: center;
    font-size: 30px;
    line-height: 36px;
  }
}
.Politics a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #000000;
}
@media screen and (max-width: 834px) {
  .Politics a {
    text-align: center;
    display: block;
  }
}

.img-center {
  text-align: center;
}

.Thalby .container h2 {
  padding: 190px 0 69px;
}
.Thalby .container article {
  margin-bottom: 111px;
}
.Thalby .container article img {
  margin-bottom: 25px;
}

.Each h2 {
  padding-bottom: 290px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
}
@media screen and (max-width: 767px) {
  .Each h2 {
    padding-bottom: 90px;
    font-size: 20px;
    line-height: 22px;
  }
}

.Discover {
  height: 480px;
  background: #F0F0F0;
}
@media screen and (max-width: 767px) {
  .Discover {
    height: auto;
  }
}
.Discover .container article {
  max-width: 288px;
  position: relative;
  top: -188px;
}
@media screen and (max-width: 834px) {
  .Discover .container article {
    max-width: 230px;
    top: -140px;
  }
}
@media screen and (max-width: 767px) {
  .Discover .container article {
    max-width: 90px;
    top: -50px;
  }
}
@media screen and (max-width: 834px) {
  .Discover .container article img {
    max-width: 230px;
  }
}
@media screen and (max-width: 767px) {
  .Discover .container article img {
    max-width: 90px;
  }
}
.Discover .container article h4 {
  margin-top: 35px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.6px;
  color: #000000;
}
@media screen and (max-width: 767px) {
  .Discover .container article h4 {
    font-size: 11px;
    line-height: 14px;
  }
}
.Discover .container article p {
  margin: 34px 0 44px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  text-align: center;
}
@media screen and (max-width: 834px) {
  .Discover .container article p {
    font-size: 17px;
    line-height: 20px;
  }
}
@media screen and (max-width: 767px) {
  .Discover .container article p {
    font-size: 11px;
    line-height: 12px;
  }
}
.Discover .container article a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-decoration-line: underline;
  color: #000000;
}
@media screen and (max-width: 767px) {
  .Discover .container article a {
    font-size: 12px;
    line-height: 14px;
  }
}

.form {
  padding: 79px 0 88px;
}
.form h5 {
  margin-bottom: 26px;
}
.form form .form-name p input {
  max-width: 153px;
  margin: 0 30px;
}
@media screen and (max-width: 767px) {
  .form form .form-name p input {
    max-width: 100px;
    margin: 0 15px;
  }
}
.form form .form-mail input {
  width: 366px;
}
@media screen and (max-width: 767px) {
  .form form .form-mail input {
    max-width: 230px;
  }
}
.form form .Subscribe input {
  padding: 7px 23px 10px;
  background: #000000;
  border: 1px solid #000000;
  border-radius: 100px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
}

footer {
  background: #020202;
}
footer .container {
  padding: 51px 0 16px;
}
@media screen and (max-width: 834px) {
  footer .container {
    padding: 25px 25px 10px 25px;
    display: inline-flex;
  }
}
@media screen and (max-width: 767px) {
  footer .container {
    display: block;
  }
}
footer .container .row .logosvg {
  padding-top: 45px;
}
@media screen and (max-width: 768px) {
  footer .container .row .logosvg {
    display: flex;
  }
}
footer .container .row .logosvg img {
  margin-right: 22px;
}
@media screen and (max-width: 834px) {
  footer .container .row .logosvg img {
    margin-bottom: 20px;
    display: flex;
  }
}
footer .container .row ul {
  margin-left: 39px;
}
@media screen and (max-width: 834px) {
  footer .container .row ul {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  footer .container .row ul {
    margin-left: 0;
  }
}
footer .container .row ul li {
  list-style: none;
}
footer .container .row ul li:first-of-type {
  padding-bottom: 36px;
}
footer .container .row ul li a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
}
footer .container .text-center {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
