@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}
$font: 'Roboto', sans-serif;

.nav-link{
  font-family: $font;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #1C1B1B;
}
.heador_icon{
  display: flex;
  align-items: center;
  li{
    list-style: none;
  &:first-of-type{
    margin-right: 15px;
    position: relative;
    top: -3px

  }
    &:last-of-type{
      margin-left: 7px;
    }
  }
}
.container{
  max-width: 1064px;
}
.navbar-brand{
  position: absolute;
  left: 50%;
  margin-left: -40px;
  top: 7px;
}
header{
 padding-top: 15px;
}
.main-banner{
  background: #F0EFEB;
  padding: 90px 0 0;
  h1{
    font-family: $font;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 42px;
  }
  p{
    font-family: $font;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 26px;
  }
  a{
    font-family: $font;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    background: #000000;
    border: 1px solid #000000;
    border-radius: 100px;
    padding: 7px 23px 9px 23px;
  }
  img{
    position: relative;
    top: -90px;
    @include max-screen(834px){
      width: 100%;
    }
  }
}

.guides{
  padding: 60px 0 88px;
  h2{
    font-family: $font;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    margin-bottom: 27px;
  }
  p{
    font-family: $font;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    max-width: 632px;
    margin: auto;
  }
}

.sellers{
  padding-bottom: 248px;
  @include max-screen(767px){
    justify-content: center;
    padding-bottom: 100px;
  }
  h2{
    margin-bottom: 52px;
  }
  .card{
    max-width: 309px;
    display: inline-block;
    border: none;
    .card-body{
      padding: 0;
    }
    h5{
      font-family: $font;
      font-style: normal;
      font-weight: 700;
      font-size: 17px;
      line-height: 20px;
      text-align: center;
      color: #000000;
      margin: 20px 0 17px;
    }
    p{
      font-family: $font;
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 20px;
      text-align: center;
      color: #000000;
      margin-bottom: 10px;
    }
    a{
      font-family: $font;
      font-style: normal;
      font-weight: 700;
      font-size: 17px;
      line-height: 20px;
      text-align: center;
      text-decoration-line: underline;
      color: #000000;
      background: none;
      border: none;
      padding: 0;
      @include max-screen(834px){
        margin-bottom: 30px;
      }
    }
  }
}

.Society {
  background: rgba(204, 204, 204, 0.3);
  border-radius: 0;
  padding: 76px 0 51px;
  @include max-screen(767px){
    padding: 76px 30px 51px;
  }

  img{
    @include max-screen(834px){
      width: 100%;
      margin-bottom: 20px;
    }
  }
  h3{
    font-family: $font;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    @include max-screen(834px){
      text-align: center;
      font-size: 30px;
      line-height: 36px;
    }
  }
  p{
    font-family: $font;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin: 31px 0 40px;
    @include max-screen(834px){
      text-align: center;
      font-size: 30px;
      line-height: 36px;
    }

  }
  a{
    font-family: $font;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #000000;
    @include max-screen(834px){
      text-align: center;
      display: block;
    }
  }
}

.Heritage{
  background: rgba(204, 204, 204, 0.6);
  border-radius: 0;
  padding: 76px 0 51px;
  @include max-screen(767px){
    padding: 76px 30px 51px;
  }
  img {
    @include max-screen(834px) {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  h3{
    font-family: $font;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    text-align: right;
    @include max-screen(834px){
      text-align: center;
      font-size: 30px;
      line-height: 36px;
    }

  }
  p{
    font-family: $font;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: right;
    color: #000000;
    margin: 31px 0 40px;
    @include max-screen(834px){
      text-align: center;
      font-size: 30px;
      line-height: 36px;
    }

  }
  a{
    font-family: $font;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: right;
    text-decoration-line: underline;
    color: #000000;
    display: block;
    @include max-screen(834px){
      text-align: center;
      margin-bottom: 20px;
    }
  }
}

.Politics {
  background: rgba(204, 204, 204, 0.3);
  border-radius: 0;
  padding: 76px 0 51px;
  @include max-screen(767px){
    padding: 76px 30px 51px;
  }
  img {
    @include max-screen(834px) {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  h3{
    font-family: $font;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    text-align: left;
    @include max-screen(834px){
      text-align: center;
      font-size: 30px;
      line-height: 36px;
    }
  }
  p{
    font-family: $font;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin: 31px 0 40px;
    @include max-screen(834px){
      text-align: center;
      font-size: 30px;
      line-height: 36px;
    }

  }
  a{
    font-family: $font;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #000000;
    @include max-screen(834px){
      text-align: center;
      display: block;
    }
  }
}

.img-center{
  text-align: center;
}

.Thalby{
  .container{
    h2{
      padding: 190px 0 69px;
    }
    article{
        margin-bottom: 111px;
      img{
        margin-bottom: 25px;
      }
    }
  }
}

.Each{
  h2{
    padding-bottom: 290px;
    font-family: $font;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    @include max-screen(767px){
      padding-bottom: 90px;
      font-size: 20px;
      line-height: 22px;
    }
  }
}
.Discover{
  height: 480px;
  background: #F0F0F0;
  @include max-screen(767px){
    height: auto;
  }
  .container{
    article{
      max-width: 288px;
      position: relative;
      top: -188px;
      @include max-screen(834px){
        max-width: 230px;
        top: -140px;
      }
      @include max-screen(767px){
        max-width: 90px;
        top: -50px;
      }
      img{
        @include max-screen(834px){
          max-width: 230px;
        }
        @include max-screen(767px){
          max-width: 90px;
        }
      }
      h4{
        margin-top: 35px;
        font-family: $font;
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.6px;
        color: #000000;
        @include max-screen(767px){
          font-size: 11px;
          line-height: 14px;
        }
      }
      p{
        margin: 34px 0 44px;
        font-family: $font;
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 22px;
        text-align: center;
        @include max-screen(834px){
          font-size: 17px;
          line-height: 20px;
        }
        @include max-screen(767px){
          font-size: 11px;
          line-height: 12px;
        }
      }
      a{
        font-family: $font;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        text-decoration-line: underline;
        color: #000000;
        @include max-screen(767px){
          font-size: 12px;
          line-height: 14px;
        }
      }
      }
    }
  }
.form{
  padding: 79px 0 88px;
  h5{
    margin-bottom: 26px;
  }
  form{
    .form-name{
      p{
        input{
          max-width: 153px;
          margin: 0 30px;
          @include max-screen(767px){
            max-width: 100px;
            margin: 0 15px;
          }

        }
      }
    }
    .form-mail{
        input{
          width: 366px;
          @include max-screen(767px){
            max-width: 230px;
          }
      }
    }
    .Subscribe{
      input{
        padding: 7px 23px 10px;
        background: #000000;
        border: 1px solid #000000;
        border-radius: 100px;
        font-family: $font;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #FFFFFF;

      }
    }
  }
}
footer{
  background: #020202;
  .container{
    padding: 51px 0 16px;
    @include max-screen(834px){
      padding: 25px 25px 10px 25px;
      display: inline-flex;
    }
    @include max-screen(767px){
      display: block;
    }
    .row{
      .logosvg{
        padding-top: 45px;
        @include max-screen(768px){
          display: flex;
        }
        img{
          margin-right: 22px;
          @include max-screen(834px){
            margin-bottom: 20px;
            display: flex;
          }
        }
      }
      ul{
        margin-left: 39px;
        @include max-screen(834px){
          display: block;
        }
        @include max-screen(768px){
          margin-left: 0;
        }
        li{
          list-style: none;
          &:first-of-type{
            padding-bottom: 36px;
          }
          a{
          font-family: $font;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: #FFFFFF;
          }
        }
      }
    }
    .text-center{
      font-family: $font;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 23px;
      text-align: center;
      color: #FFFFFF;
      margin: 0;
    }
  }
}